<div class="text-center">

  <div class="container align-middle bg-white rounded container-dialog">
    <div class="container">
      <div class="form-group">
      <%= form_tag search_results_url, method: :get do %>
        <h1 class="search-label">Room Type:</h1>
        <%= select_tag :tier, options_for_select(@options, "Service Ward"), :class => "form-control"%> <br>
        <%= submit_tag "Search Now", :class => "btn btn-primary", :id => "sub-btn"%>
      <% end %>
      </div>
    </div>
  </div>

</div>