<!DOCTYPE html>
<html>

<head>
    <title>Trace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="text-center">
      <%= link_to image_tag('tracefin-01.png'), root_path, class: "navbar-brand" %>
    </div>
    
    <div class="container">
      <hr>
        <h2 class="text-center"><%= button_to "MAIN PAGE", "main/index", :class => "btn btn-primary btn-lg", :method => "get"%></h2>
      <hr>
    </div>

</body>
</html>


